<h1>Couriers</h1>

<ul>
  <%@couriers.each do |courier| %>
    <li>
      <%= link_to courier.name, courier %> | <%= link_to "Edit", edit_courier_path(courier) %>
    </li>
  <% end %>
</ul>

<%= link_to "New Courier", new_courier_path %>
